/* App.css */
* {
  border: 1px solid red;
}

.App {
  max-width: 800px;
  position: relative;
}

.container {
  display: flex;
  align-items: flex-start; /* Align items at the start of the cross axis */
  margin-top: 10px; /* Adjust margin as needed to create gap with the image */
  flex-wrap: nowrap; /* Prevent elements from wrapping */
}

nav ul {
  list-style-type: none;
  margin-left: 15%;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  position: relative; /* Added to position sub-menu */
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
  top: 100%; /* Position below the main menu item */
  left: 0; /* Align with the left side of the main menu item */
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
}

nav ul li ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

nav ul li ul li a:hover {
  background-color: #ddd;
}

img {
  max-width: 250px;
}
